<div [ngClass]="CSSclass" class="observation-point-div">
  <div class="observation-point-background-div">
    <p>MIKSI</p>
  </div>
  <div class="observation-point-text-container">
    <h1>
      {{observationPoint.name}}
    </h1>
    <p>{{ maxTemperature.temperature }}</p>
    <p>{{ minTemperature.temperature }}</p>
    <p>{{ lastTemperature.temperature }}</p>
    <mat-form-field class="example-full-width">
      <input [value]="temperatureString" #temperatureInput type="number" matInput placeholder="New reading">
      <span matSuffix>C</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [value]="timeString" #timeInput type="time" matInput placeholder="Time">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [value]="dateString" #dateInput type="date" matInput placeholder="Date">
    </mat-form-field>
    <button mat-button (click)="sendTemperature(temperatureInput.value, timeInput.value, dateInput.value)">Send</button>
  </div>
</div>
