input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button, /* Removes arrows */
input::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

.dialog-title {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: rgba(39, 39, 39, 0.808);
    font-size: 2rem;
}

.dialog-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dialog-button-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dialog-input {
    width: 100%;
    margin-bottom: 2rem;
}

.mat-button {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
}

.mat-error {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
}

.mat-form-field {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
}

.mat-button {
    padding: 1rem;
}

.dialog-error {
    text-align: center;
    font-style: italic;
    font-size: 1.8rem;
}

.dialog-success {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(0, 117, 20);
    font-style: italic;
}